body{

  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




h1{
    color: rgba(214, 34, 142, 0.855);
}

h2{ 
    color: rgb(67, 131, 139);
}